.container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.message {
	border: 1px solid #aaeaa3;
	background: #c6fbc6;
	border-radius: 3px;
	padding: 10px 15px;
	margin-bottom: 25px;
}

.required {
	color: #c61f24;
}

@media (max-width: 400px) {
	.last-entries table thead tr th:nth-child(3),
	.last-entries table tbody tr td:nth-child(3),
	.last-entries table thead tr th:nth-child(5),
	.last-entries table tbody tr td:nth-child(5) {
		display: none;
	}
}
